<section id="single-quote" class="divider-section">
  <div class="container">
    <div class="gap"></div>
    <div class="row">
      <div class='col-md-offset-2 col-md-8 fade-up'>
        <div class="row">
          <div class="col-sm-12">
            <p class="quote">
              <i class="fas fa-quote-left"></i>
              {{.title}}
              <i class="fas fa-quote-right"></i>
            </p>
            <span class="pull-right"><small>{{.subtitle}}</small></span>
          </div>
        </div>
      </div>
    </div>
    <div class="gap"></div>
  </div>
</section>
