<div class="blog-featured-image">
		<img class="img-responsive img-blog" src="https://res.cloudinary.com/barnes18/image/upload{{ $.Param "image" }}" alt="">
		<div class="overlay">
				<a class="preview btn btn-outlined btn-primary" href="{{ .Permalink }}" rel="prettyPhoto"><i class="fa fa-link"></i></a>
		</div>
</div>
<div class="blog-content">
		<a href="{{ .Permalink }}"><h3 class="main-title">{{ .Title }}</h3></a>
		<div class="entry-meta">
				<span><i class="far fa-clock"></i> {{ .Date.Format "2006-01-02" }}</span>
				<span><i class="fa fa-folder"></i>
					{{ range $i,$value := $.Param "categories" }}
								<a href="{{ "/categories/" | relLangURL }}{{ $value | urlize }}"> {{ $value }}</a>,
					{{ end }}
				</span>
				<span><i class="fas fa-tag"></i>
				{{ range $i,$value := $.Param "tags" }}
							<a href="{{ "/tags/" | relLangURL }}{{ $value | urlize }}"> {{ $value }}</a>,
				{{ end }}
				</span>
		</div>
		<p>{{ .Description }}</p>
		<div class="read-more-wrapper">
				<a class="btn btn-outlined btn-primary" href="{{ .Permalink }}">Leer más</a>
		</div>
</div>
