<div class="col-md-4">
  <div class="post">
    <div class="post-img-content">
      <img src="https://res.cloudinary.com/barnes18/image/upload{{ $.Param "image" }}" class="img-responsive" />
      <div class="overlay">
        <a class="preview btn btn-outlined btn-primary" href="{{ .Permalink }}"><i class="fa fa-link"></i></a>
      </div>
    </div>
    <div class="content">
      <h2 class="post-title">{{ .Title }}</h2>
      <div class="author">
        <i class="far fa-clock"></i> <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "2006-01-02" }}</time>
      </div>
      <div>
        {{ .Description }}
      </div>
      <div class="read-more-wrapper">
        <a href="{{ .Permalink }}" class="btn btn-outlined btn-primary">Leer más</a>
      </div>
    </div>
  </div>
</div>
