{{ define "main" }}
{{ partial "single_slider" .Params }}

<div id="content-wrapper">
        <section id="blog" class="white">
            <div class="container">
            <div class="gap"></div>
                <div class="row">
                  {{ partial "aside" . }}
                    <div class="col-sm-8 col-sm-pull-4">
                        <div class="blog">
                            <div class="blog-item">
                                <div class="blog-featured-image">
                                    <img class="img-responsive img-blog" src="{.image}" alt="" />
                                    <div class="overlay">
                                        <a class="preview btn btn-outlined btn-primary" href="blog-item.html" rel="prettyPhoto"><i class="fa fa-link"></i></a>
                                    </div>
                                </div>
                                <div class="blog-content">
                                    <h3 class="main-title">{{ .Title }}</h3>
                                    <div class="entry-meta">
                                      <span><i class="fa fa-clock-o"></i> {{ .Date.Format "2006-01-02" }}</span>
                                        <span><i class="fa fa-folder"></i>
                                          {{ range $i,$value := $.Param "categories" }}
                                								<a href="{{ "/categories/" | relLangURL }}{{ $value | urlize }}"> {{ $value }}</a>,
                                					{{ end }}

                                        </span>

                                    </div>
                                    <p class="lead">{{ .Description }}</p>
                                    <p>{{ .Content }}</p>
                                    <hr>

                                    <div class="tags">
                                        <i class="fas fa-tag"></i>
                                        {{ range $i,$value := $.Param "tags" }}
                                							<a  class="btn btn-xs btn-primary btn-outlined" href="{{ "/tags/" | relLangURL }}{{ $value | urlize }}"> {{ $value }}</a>
                                				{{ end }}

                                    </div>

                                    <hr>
                                </div>
                            </div>

                        </div>
                    </div><!--/.col-md-8-->
                </div><!--/.row-->
            </div>
        </section><!--/#blog-->
    </div>

{{ end }}
